@import "tailwindcss";

@theme {
  --default-font-family: "Clear Sans2", "sans-serif", "system-ui";

  --color-stone: #F7F7F7;
  --color-stonier: #EBEBED;
  --color-greenfield: #008E75;
  --color-text: #212927;
}
body {
  background-color: var(--color-stone);
}

a,button {
  &:focus-visible {
      outline-color: var(--color-greenfield);
  }
}

/* FONTS */
@font-face {
	font-family: 'Clear Sans2';
	src: url('/fonts/ClearSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Clear Sans2';
	src: url('/fonts/ClearSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Clear Sans2';
	src: url('/fonts/ClearSans-Medium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}